.row
  .small-4.columns.small-centered
    %h1 Sales by State
.row
  .small-12.columns.centered#chloropleth
.row
  .small-5.columns.centered
    %h2#state
  .small-5.columns.centered
    %h2#number-of-sales
